
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
</head>
<body>
    <div class="container py-4">
        <h3 class="text-center text-uppercase">Users</h3><br />
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUser">
            Add User
        </button>
        <hr />
        <div id="dataTable_wrapper"></div>
        <table id="dataTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>UserId</th>
                    <th>FullName</th>
                    <th>UserEmail</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

        </table>

    </div>
    <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add/Edit Book Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form id="AddUser" method="post" enctype="multipart/form-data">

                                <div class="form-group">

                                    <label>Name</label>
                                    <input class="form-control" id="Name" name="AName" type="text" />
                                    <span id="nameval" class="field-validation-error"></span>
                                </div>

                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" id="Email" name="ALat" type="text" />
                                    <span id="latval" class="field-validation-error"></span>
                                </div>

                                <input type="hidden" id="action" name="action" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="return InsertUser();">Submit</button>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/UserScripts/Add.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $('#dataTable').DataTable({
            "ajax": {
                url: '/Book/GetAllUser',
                "type": "GET",
                "datatype": "json"
            },

            "columns": [
                { "data": "UserId" },
                { "data": "FullName" },
                { "data": "UserEmail" },
                { "data": "" },
                {"data":""},
            ]
        });
    });


</script>

@*<div class="container">
    <h3 class="display-4">Add New Book</h3>
    <hr />
    @if (ViewBag.IsSuccess)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Congrationlations!!!</strong> You have added new book successfully. <br />
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <form method="post" asp-action="AddNewBook" asp-controller="Book">
        <div class="form-group">
            <label asp-for="FullName" class="control-label"></label>
            <input asp-for="FullName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="UserEmail" class="control-label"></label>
            <input asp-for="UserEmail" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CivilIdNumber" class="control-label"></label>
            <input asp-for="CivilIdNumber" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CarLicense" class="control-label"></label>
            <input asp-for="CarLicense" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit">Add Book</button>
        </div>
    </form>
</div>*@