
@{

    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-draky.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Book" asp-action="Index">List</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <div class="container py-4">
        <br />
        <div class="jumbotron">
            <h2 class="text-left text-uppercase">Users</h2>
        </div><br />
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addUser">
            Add User
        </button>
        <hr />
        <div id="dataTable_wrapper"></div>
        <table id="dataTable1" class="table table-bordered table-striped" style="background-color:darkslategray;">
            <thead>
                <tr class="table-primary">
                    <th>UserId</th>
                    <th>FullName</th>
                    <th>UserEmail</th>
                    <th>CarLicense</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

        </table>

    </div>


    <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New User Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            
                            <div class="form-group">

                                <label>Full Name</label>
                                <input class="form-control" id="AName" name="AName" type="text" />
                                <span id="nameval" class="field-validation-error"></span>
                            </div>

                            <div class="form-group">
                                <label>UserEmail</label>
                                <input class="form-control" id="ALat" name="ALat" type="text" />
                                <span id="latval" class="field-validation-error"></span>
                            </div>


                            @*<div class="form-group">
            <label>Civil Id Number</label>
            <input class="form-control" id="AID" name="AID" type="text" />
            <span id="IDval" class="field-validation-error"></span>
        </div>*@
                            <input type="hidden" id="action" name="action" />

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" id="btnAdd">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">


                            <div class="form-group">
                                <label>UserId</label>
                                <input class="form-control" id="AId0" name="AId0" type="text" disabled />
                                <span id="idval" class="field-validation-error"></span>
                            </div>

                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" id="AName0" name="AName0" type="text" />
                                <span id="nameval" class="field-validation-error"></span>
                            </div>

                            <div class="form-group">
                                <label>E-Mail</label>
                                <input class="form-control" id="ALat0" name="ALat0" type="text" />
                                <span id="latval" class="field-validation-error"></span>
                            </div>
                            @*<div class="form-group">
                                    <label>Civil Id Number</label>
                                    <input class="form-control" id="AID0" name="AID0" type="text" />
                                    <span id="IDval" class="field-validation-error"></span>
                                </div>*@
                            <input type="hidden" id="action" name="action" />

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning" data-dismiss="modal" onclick="">Close</button>
                    <button type="submit" class="btn btn-outline-success" id="btnEdit">Submit</button>

                </div>
            </div>
        </div>
    </div>
    <div class="py-4">
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - IdentityContextDemo - <h5 text-muted>@DateTime.Now</h5>
        </div>
    </footer>
        </div>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/addUser.js"></script>
<script src="~/js/EditUser.js"></script>
<script src="~/js/delete.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $('#dataTable1').DataTable({
            "ajax": {
                "url": '/Home/GetUserList',
                "type": "GET",
                "datatype": "json",
            },

            "columns": [
                { "data": "userId" },
                { "data": "fullName" },
                { "data": "userEmail" },
                { "data": "carLicense" },
                { "data": null, title: 'Action', wrap: true, "render": function (data) { return '<div class="btn-group"> <button type="button" onclick="EditUserDetails(' + data.userId + ')" class="btn btn-outline-info" data-toggle="modal" data-target="#editUser">Edit</button></div>' } },
                { "data": null, title: 'Action', wrap: true, "render": function (data) { return '<div class="btn-group"> <button type="button" onclick="DeleteUser(' + data.userId + ')" class="btn btn-outline-danger">Delete</button></div>' } },


            ]
        });
    });
</script>





