
@{

    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />
   
</head>
<body>
    <div class="container py-4">
        <br />
        <h3 class="text-center text-uppercase">Users</h3><br />
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addUser">
            Add User
        </button>
        <hr />
        <div id="dataTable_wrapper"></div>
        <table id="dataTable1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>UserId</th>
                    <th>FullName</th>
                    <th>UserEmail</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

        </table>

    </div>

  
    <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New User Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">

                                <label>Full Name</label>
                                <input class="form-control" id="AName" name="AName" type="text" />
                                <span id="nameval" class="field-validation-error"></span>
                            </div>

                            <div class="form-group">
                                <label>UserEmail</label>
                                <input class="form-control" id="ALat" name="ALat" type="text" />
                                <span id="latval" class="field-validation-error"></span>
                            </div>

                            
                            @*<div class="form-group">
                                    <label>Civil Id Number</label>
                                    <input class="form-control" id="AID" name="AID" type="text" />
                                    <span id="IDval" class="field-validation-error"></span>
                                </div>*@
                            <input type="hidden" id="action" name="action" />

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="btnAdd">Submit</button>
                </div>
            </div>
        </div>
    </div>

 <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">


                            <div class="form-group">
                                <label>UserId</label>
                                <input class="form-control" id="AId0" name="AId0" type="text" disabled />
                                <span id="idval" class="field-validation-error"></span>
                            </div>

                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" id="AName0" name="AName0" type="text" />
                                <span id="nameval" class="field-validation-error"></span>
                            </div>

                            <div class="form-group">
                                <label>E-Mail</label>
                                <input class="form-control" id="ALat0" name="ALat0" type="text" />
                                <span id="latval" class="field-validation-error"></span>
                            </div>
                            @*<div class="form-group">
                                    <label>Civil Id Number</label>
                                    <input class="form-control" id="AID0" name="AID0" type="text" />
                                    <span id="IDval" class="field-validation-error"></span>
                                </div>*@
                            <input type="hidden" id="action" name="action" />

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="">Close</button>
                    <button type="submit" class="btn btn-primary" id="btnEdit">Submit</button>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/addUser.js"></script>
<script src="~/js/EditUser.js"></script>
<script src="~/js/delete.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        $('#dataTable1').DataTable({
            "ajax": {
                "url": '/Book/GetUserList',
                "type": "GET",
                "datatype": "json",
            },

            "columns": [
                { "data": "userId" },
                { "data": "fullName" },
                { "data": "userEmail" },
                { "data": null, title: 'Action', wrap: true, "render": function (data) { return '<div class="btn-group"> <button type="button" onclick="EditUserDetails(' + data.userId + ')" class="btn btn-info" data-toggle="modal" data-target="#editUser">Edit</button></div>' } },
                { "data": null, title: 'Action', wrap: true, "render": function (data) { return '<div class="btn-group"> <button type="button" onclick="DeleteUser(' + data.userId + ')" class="btn btn-danger">Delete</button></div>' } },


            ]
        });
    });
</script>





