@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Welcome <img src="~/images/flooplogo.png" class="logo" alt="logo" /></h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</section>
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="py-5 bg-light">
        <div class="container">
            <div class="h3">Top Books</div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="" />
                        <div class="card-body">
                            <p class="card-text">This section will be used to display the most short description of book</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a herf="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                                </div>
                                <small class="text-muted">Author name</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="" />
                        <div class="card-body">
                            <p class="card-text">This section will be used to display the most short description of book</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a herf="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                                </div>
                                <small class="text-muted">Author name</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="" />
                        <div class="card-body">
                            <p class="card-text">This section will be used to display the most short description of book</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a herf="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                                </div>
                                <small class="text-muted">Author name</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer><h5>@DateTime.Now</h5></footer>
</body>

</html>
